@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TT_Travel/TTTravels-Light.woff2') format('woff2'),
  url('../fonts/TT_Travel/TTTravels-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Schnyder X Cond XL';
  src: url('../fonts/Schnyder_X_Condensed/SchnyderXCondXLBold.woff2') format('woff2'),
  url('../fonts/Schnyder_X_Condensed/SchnyderXCondXLBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



